.result-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 1000px;
}
.result-card {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.result-row {
    display: flex;
    flex-direction: row;
}
.result-row-name {
    flex: 1 0 100px;

    width: 180px;
}
.result-header-row {
    display: flex;
}
.result-header-cell {
    flex: 1 0 30px;
}
.header {
    display: flex;
    flex-direction: row;
}